/* LIGHT AND DARK THEMES */
/* Variables are used later as values within rules */

/* If the document has no "data-theme" attribute */
:root {
    --color-body-background: #e1e1e1;
    --color-block1-background: #c6f6a4 !important;
    --color-b1text: #ffffff;
    --color-b2text: #ffffff;
    --color-links: #2d8dbc;
    --color-block3-background: #f8c291;
    --color-b3text: #ffffff;
}
[data-theme="light"] {
    --color-body-background: #e1e1e1;
    --color-block1-background: #c6f6a4 !important;
    --color-b1text: #ffffff;
    --color-b2text: #ffffff;
    --color-links: #2d8dbc;
    --color-block3-background: #f8c291;
    --color-b3text: #ffffff;
}
[data-theme="dark"] {
    --color-body-background: #3f3f3f;
    --color-block1-background: #25a65a !important;
    --color-b1text: #000000;
    --color-b2text: #000000;
    --color-links: #2d8dbc;
    --color-block3-background: #c27d0d;
    --color-b3text: #000000;
}

/* STYLING FOR CONTACT PAGE ELEMENTS */

html, body {
    background: var(--color-body-background); /* Set body background, visible beneath block2, which has no background */
}
h1 {
    font-family: "Merriweather", Georgia, serif; /* Use a different font for headings than for the body */
    font-size: 28px;
    margin-top: 0px; /* remove margin to avoid issues with background */
}
h2 {
    font-family: "Merriweather", Georgia, serif; /* Use a different font for headings than for the body */
    margin-bottom: 10px;
    margin-top: 0px; /* Remove default margin */
}
h3 {
    color: var(--color-h3);
    font-weight: normal; /* Don't bold the heading */
}

.block1 {
    background-color: var(--color-block1-background);
    display: flow-root; /* Solves problem of zero height due to children using float */
    /* Apply spacing between children and top and bottom */
    padding-top: 40px;
    padding-bottom: 30px;
}
.b1inner {
    margin: 0 auto; /* Center the division within block1 */
    width: 1200px; /* Width is fixed on screens wider than 1200px */
}
.b1left {
    float: left; /* Position division to the left */
    text-align: center;
    width: 35%; /* Division width is a fraction of parent width */
}
.b1left img {
    border-radius: 50%; /* Make image appear round */
    display: block; /* Display as block to enable margin to work */
    height: 260px;
    margin: 0 auto; /* Center image within b1left */
    margin-top: 0px;
    width: 260px;
}
.b1left span {
    display: block; /* Prevent span from occupying same line as image */
    font-size: 18px;
    line-height: 40px; /* Make line height larger than font size, effectively adding spacing to top and bottom */
    margin: 0 auto; /* Horizontally center the span */
    margin-top: 0px;
}
.b1right {
    float: right; /* Position division to the right */
    width: 65%; /* Division width is majority of parent width */
}
.b1text {
    background: var(--color-b1text); /* Apply background color for greater contrast */
    border-radius: 16px; /* Round the corners of the section */
    margin-top: 0px;
    padding: 20px; /* Apply spacing between content and edges of section */
}
p {
    font-size: 18px; 
    line-height: 28px; /* Effectively apply spacing between lines of paragraph for greater readability */
    margin-bottom: 2px; /* Reduce default margin */
}

.block2 {
    display: flow-root; /* Solves problem of zero height due to children using float */
    /* Apply spacing between children and top and bottom */
    padding-top: 40px;
    padding-bottom: 32px;
}
.b2inner {
    margin: 0 auto; /* Center the division within block2 */
    width: 1200px; /* Width is fixed on screens wider than 1200px */
}
.b2left {
    float: left; /* Position division to the left */
    width: 65%; /* Division width is majority of parent width */
}
.b2text {
    background: var(--color-b2text); /* Apply background color for greater contrast */
    border-radius: 16px; /* Round the corners of the section */
    margin-top: 12px;
    padding: 20px; /* Apply spacing between content and edges of section */
}
.b2text a {color: var(--color-links);} /* Set color of links */
.ulouter {padding-left: 20px;} /* Lessen ul default padding */
.ulinner {padding-left: 20px;} /* Lessen ul default padding */
.b2text li {font-size: 18px;}
.b2right {
    float: right; /* Position division to the right */
    text-align: center;
    width: 35%; /* Division width is a fraction of parent width */
}
.b2right img {
    aspect-ratio: 3 / 4; /* Set height based on width to maintain aspect ratio */
    border-radius: 8px; /* Round the corners of the image */
    display: block; /* Display as block to enable margin to work */
    margin: 0 auto; /* Center the image in b2right */
    width: 260px;
}
.b2right span {
    display: block; /* Prevent span from occupying same line as image */
    font-size: 18px;
    line-height: 40px; /* Make line height larger than font size, effectively adding spacing to top and bottom */
    margin: 0 auto; /* Horizontally center the span */
    margin-top: 0px;
}

.block3 {
    background-color: var(--color-block3-background);
}
.b3inner {
    margin: 0 auto;  /* Center the division within block3 */
    /* Apply spacing between children and top and bottom */
    padding-bottom: 40px;
    padding-top: 40px;
    width: 1200px; /* Width is fixed on screens wider than 1200px */
}
.b3text {
    background: var(--color-b3text); /* Apply background color for greater contrast */
    border-radius: 16px; /* Round the corners of the section */
    margin-top: 0px;
    padding: 20px; /* Apply spacing between content and edges of section */
}
.b3text a {color: var(--color-links);}

/* MEDIA QUERIES - RESPONSIVE DESIGN */
/* Apply padding and margin at various screen sizes */

@media screen and (max-width: 1200px) {
    .b1inner {width: 100%;}
    .b1text {margin-right: 10px;}
    .b2inner {width: 100%;}
    .b2text {margin-left: 10px;}
    .b3inner {width: 100%;}
    .b3text {margin-left: 10px; margin-right: 10px;}
}
@media screen and (max-width: 1116px) {
    .block1 {padding-bottom: 40px;}
}
@media screen and (max-width: 980px) {
    .block2 {
        padding-bottom: 40px;
    }
    .b2text {
        margin-top: 0px;
    }
    .b2right img {
        margin-top: 25px;
        width: 200px; /* Decrease size of homelab image */
    }
}
@media screen and (max-width: 885px) {
    .b1left img {
        height: 200px; /* Decrease size of image of self */
        margin-top: 40px;
        width: 200px; /* Decrease size of image of self */
    }
}
@media screen and (max-width: 720px) {
    .b1left {
        float: none; /* Stack instead of float division */
        margin-bottom: 25px;
        width: 100%; /* Increase width now that stacked */
    }
    .b1left img {
        margin-top: 0px;
    }
    .b1right {
        float: none; /* Stack instead of float division */
        width: 100%; /* Increase width now that stacked */
    }
    .b1text {margin-left: 10px;}
    .b2left {
        float: none; /* Stack instead of float division */
        width: 100%; /* Increase width now that stacked */
    }
    .b2right {
        float: none; /* Stack instead of float division */
        margin-top: 40px;
        width: 100%; /* Increase width now that stacked */
    }
    .b2text {margin-right: 10px;}
}