/* LIGHT AND DARK THEMES */
/* Variables are used later as values within rules */

/* If the document has no "data-theme" attribute */
:root {
    --color-body-background: #e1e1e1;
    --color-block1-background: #b9e5e7 !important;
    --color-h3: #1f1f1f;
    --color-mainleft-svg: #000000;
    --color-mainright: #ffffff;
    --color-contactform-label: #828282;
    --color-contactform-textfields: #f1f1f1;
    --color-contactform-textfields-font: #000000;
    --color-error: #d95647;
    --color-cf-button-bg: #000000;
    --color-cf-button-font: #ffffff;
    --color-cf-button-bg-hover: #131313;
    --color-btnicon-svg: #ffffff;
}
[data-theme="light"] {
    --color-body-background: #e1e1e1;
    --color-block1-background: #b9e5e7 !important;
    --color-h3: #1f1f1f;
    --color-mainleft-svg: #000000;
    --color-mainright: #ffffff;
    --color-contactform-label: #828282;
    --color-contactform-textfields: #f1f1f1;
    --color-contactform-textfields-font: #000000;
    --color-error: #d95647;
    --color-cf-button-bg: #000000;
    --color-cf-button-font: #ffffff;
    --color-cf-button-bg-hover: #131313;
    --color-btnicon-svg: #ffffff;
}
[data-theme="dark"] {
    --color-body-background: #3f3f3f;
    --color-block1-background: #08a4c7 !important;
    --color-h3: #e7e7e7;
    --color-mainleft-svg: #ffffff;
    --color-mainright: #000000;
    --color-contactform-label: #979797;
    --color-contactform-textfields: #232323;
    --color-contactform-textfields-font: #ffffff;
    --color-error: #c24435;
    --color-cf-button-bg: #ffffff;
    --color-cf-button-font: #000000;
    --color-cf-button-bg-hover: #efefef;
    --color-btnicon-svg: #000000;
}

/* STYLING FOR CONTACT PAGE ELEMENTS */

html, body {
    background: var(--color-body-background); 
}
.block1 {
    background-color: var(--color-block1-background);
    display: flow-root; /* Use flow root to prevent 0 height due to floated children */
    height: 400px;
}
.maininner {
    margin: 0 auto; /* Center the division within block1 */
    width: 1200px; /* Width is fixed on screens wider than 1200px */
}
h1 {
    font-family: "Merriweather", Georgia, serif;
    margin-top: 0px; /* remove margin to avoid issues with background */
    padding-top: 10px;
}
h2 {
    font-family: "Merriweather", Georgia, serif;
    margin-bottom: 10px;
    margin-top: 0px; /* Remove default margin */
}
h3 {
    color: var(--color-h3);
    font-weight: normal; /* Heading will not display as bold */
    padding-left: 8px;
    padding-right: 8px;
}

.mainleft {
    float: left; /* Position to left of maininner */
    height: 400px;
    text-align: center; /* Center text within this division */
    width: 35%; /* Division width is a fraction of parent width */
    overflow: hidden;
}
.mainleft svg {
    color: var(--color-mainleft-svg);
    height: 140px;
    padding-top: 60px; /* Add spacing to effectively vertically center the svg and text */
    width: 140px;
}
.mainright {
    background: var(--color-mainright);
    border-radius: 20px; /* Round the corners of the division */
    float: right; /* Position to right of maininner */
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    width: calc(63% - 50px);
}
.contactform label {
    color: var(--color-contactform-label);
    display: block; /* Don't display as inline, label will occupy whole line */
    font-size: 18px;
    padding-bottom: 8px;
}
.contactform input[type=text] {
    background: var(--color-contactform-textfields); /* Color match navbar */
    border: 2px solid var(--color-contactform-textfields); /* Use border with same color as background */
    box-sizing: border-box; /* Remove default padding */
    color: var(--color-contactform-textfields-font);
    font-family: Inter-Regular;
    font-size: 18px;
    margin-bottom: 8px;
    outline: 0; /* Remove the default blue input outline when selected */
    padding: 8px;
    width: 100%; /* Occupy entire width of mainright */
}
.contactform textarea {
    background: var(--color-contactform-textfields); /* Color match navbar */
    border: 2px solid var(--color-contactform-textfields); /* Use border with same color as background */
    box-sizing: border-box; /* Remove default padding */
    color: var(--color-contactform-textfields-font);
    font-family: Inter-Regular;
    font-size: 18px;
    margin-bottom: 8px;
    outline: 0; /* Remove the default blue input outline when selected */
    padding: 8px;
    resize: none; /* Disable resizing */
    width: 100%; /* Occupy entire width of mainright */
}
.errorspan {
    color: var(--color-error); 
    float: right; /* Align error span to right of mainright, opposite of label */
}
.error {border-color: var(--color-error) !important; /* Change border color when there is a validation error */ }
.contactform button[type=submit] {
    background: var(--color-cf-button-bg);
    border: none; /* Remove default border, this enables the flat design */
    color: var(--color-cf-button-font);
    cursor: pointer; /* Button should appear clickable */
    font-family: Inter-Medium; /* Use bold font for the button */
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 17px; /* Apply 10px padding to top and bottom, 17 to left and right */
}
.contactform button[type=submit]:hover {
    background: var(--color-cf-button-bg-hover);
}
.btn-text {
    float: left; /* Make text appear on left side of button */
    padding-right: 12px;
}
.btn-icon {
    float: left; /* Make icon appear on right side of button */
    height: 21px; 
    padding-top: 1px; /* Add padding to align icon with btn text */
    width: 21px;
}
.btn-icon svg {
    color: var(--color-btnicon-svg);
    height: 100%; /* SVG is full height and width of button */
    width: 100%;
}
.btn-icon svg path {
    transform: rotate(90deg); /* Rotate the Flowbite send icon, it looks better horizontal */
    transform-box: fill-box;
    transform-origin: center;
}

/* MEDIA QUERIES - RESPONSIVE DESIGN */
/* Apply padding and margin at various screen sizes */

@media screen and (max-width: 1200px) {
    .maininner {width: 100%;} /* Change from 1200px to 100% to prevent scrollbars */
    .mainleft {margin-left: 10px;}
    .mainright {margin-right: 10px;}
}
@media screen and (max-width: 650px) {
    .your {display: none; /* Hide 'Your' in 'Your Message' to prevent colliding with error message */}
}
@media screen and (max-width: 600px) {
    /* Set fixed height for main */
    /* This  is necessary because margin-bottom not working for mainright, as there is nothing to bounce from */
    main {height: 855px;}
    .block1 {
        display: block; /* Switch back to block, fixes margin-bottom not working in Mobile Safari */
        height: 580px; /* Adjust the fixed height of the division */
    }
    .mainleft {
        height: 310px;
        float: none; /* Stack instead of float division */
        margin-left: 0px;
        width: 100%;
    }
    .mainleft svg { padding-top: 30px; }
    .mainright {
        float: none; /* Stack instead of float division */
        width: calc(100% - 60px);
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 0px;
    }
    .your {display: inline; /* Display 'Your' in 'Your Message' at this width */}
}