/* LIGHT AND DARK THEMES */
/* Variables are used later as values within rules */

/* If the document has no "data-theme" attribute */
:root {
    --color-body-background: #ffffff;
    --color-main-bg: linear-gradient(45deg, #f8c291, #f06fa0, #b9e5e7 , #a29bfe, #ffeaa7, #c6f6a4);
    --background-image-block1: url("../images/home-bg-light-stars.png");
    --color-mainmiddle-bg: rgba(255, 255, 255, 0.65);
    --color-mainmiddle-boxshadow: rgba(255, 255, 255, 0.1);
    --color-h5-line: #000000;
    --color-learn-button: #000000;
    --color-learn-button-hover: #131313;
    --color-contact-button-bg: #000000;
    --color-contact-button-font: #ffffff;
    --color-contact-button-bg-hover: #131313;
}
[data-theme="light"] {
    --color-body-background: #ffffff;
    --color-main-bg: linear-gradient(45deg, #f8c291, #f06fa0, #b9e5e7 , #a29bfe, #ffeaa7, #c6f6a4);
    --background-image-block1: url("../images/home-bg-light-stars.png");
    --color-mainmiddle-bg: rgba(255, 255, 255, 0.65);
    --color-mainmiddle-boxshadow: rgba(255, 255, 255, 0.1);
    --color-h5-line: #000000;
    --color-learn-button: #000000;
    --color-learn-button-hover: #131313;
    --color-contact-button-bg: #000000;
    --color-contact-button-font: #ffffff;
    --color-contact-button-bg-hover: #131313;
}
[data-theme="dark"] {
    --color-body-background: #000000;
    --color-main-bg: linear-gradient(45deg, #c27d0d, #E94584, #08a4c7, #6c5ce7, #f1c40f, #25a65a);
    --background-image-block1: url("../images/home-bg-dark-stars.png");
    --color-mainmiddle-bg: rgba(0, 0, 0, 0.65);
    --color-mainmiddle-boxshadow: rgba(0, 0, 0, 0.1);
    --color-h5-line: #ffffff;
    --color-learn-button: #ffffff;
    --color-learn-button-hover: #efefef;
    --color-contact-button-bg: #ffffff;
    --color-contact-button-font: #000000;
    --color-contact-button-bg-hover: #efefef;
}

/* STYLING FOR HOME PAGE ELEMENTS */

html, body {
    background: var(--color-body-background); 
}
main {
    animation: gradient 16s linear infinite; /* Animate using the colors set by background */
    animation-direction: alternate; /* The animation reverses direction each cycle */
    background: var(--color-main-bg);
    background-size: 600% 100%; /* Width is 600% because using six color background */
    height: 200px; /* Required for min height to work */
    min-height: calc(100% - 61px); /* Make minimum height 100% minus navbar */
    padding: 0;
}
/* Control the intermediate steps in the CSS animation */
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.block1 {
    background-image: var(--background-image-block1); /* Custom semi transparent backdrop, one is specific to dark theme the other is specific to light */
    background-repeat: no-repeat;
    background-size: cover; /* Stretch to full size of division */
    min-height: 100%;
    width: 100%;
}
.maininner {
    margin: 0 auto; /* Center the division within block1 */
    width: 1200px; /* Width is fixed on screens wider than 1200px */
    overflow: hidden; /* Don't allow content to extend beyond division */
}
.mainmiddle {
    background: var(--color-mainmiddle-bg); /* Make background black translucent */
    /* Create a blurred glass effect */
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    box-shadow: 0 4px 30px var(--color-mainmiddle-boxshadow);
    border-radius: 16px; /* Round the corners of the division */
    margin-bottom: 20px; /* Ensure there is always spacing between mainmiddle and bottom of page */
    margin-top: 70px; /* Apply significant margin when viewing on larger screen */
    padding-bottom: 16px;
    width: 550px; /* Fixed size width on larger screen */
}
h1 {
    font-family: "Merriweather", Georgia, serif;
    margin-top: 0px; /* remove default margin */
    margin-bottom: 0px; /* remove default margin */
    padding-left: 16px;
    padding-right: 16px;
}
h1 span {text-decoration: underline;} /* Underline "Alex Bates" within the heading */
h3 {
    font-weight: normal; /* Don't make the heading text bold */
    margin-top: 15px;
    padding-left: 16px; /* Use padding here instead of by mainmiddle */
    padding-right: 16px;
}
h5 {
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 12px;
    padding-left: 23px;
    padding-right: 10px;
    padding-top: 18px;
}
/* Create a horizontal line before and after the heading */
h5::before,
h5::after {
    background-color: var(--color-h5-line);
    content: ""; /* Specify content so it will appear */
    display: inline-block;
    height: 1px;
    margin-bottom: 5px; /* Align lines with center of text instead of bottom */
    position: relative;
    width: 20px;
}
h5::before {right: 0.5em;} /* Style the left horizontal line */
h5::after {left: 0.5em;} /* Style the right horizontal line */
.homephotos {
    aspect-ratio: 8 / 3; /* Maintain aspect ratio when width changes */
    background-image: url("../images/home-photos.png");
    background-size: cover; /* Background should stretch to fill division */
    border-radius: 5px; /* Round the corners of the division */
    margin-left: 16px;
    margin-top: 18px;
    opacity: 1; /* The division is not translucent */
    width: calc(100% - 34px); /* Occupy full width of parent minus the margin used by self */
}
.learnbutton {
    background: none; /* No background so mainmiddle background and gradient will appear below */
    border: 2px solid var(--color-learn-button); /* Use a border instead of a background */
    color: var(--color-learn-button);
    cursor: pointer; /* The button will appear clickable */
    font-family: Inter-Medium;
    font-size: 18px;
    margin-left: 16px;
    padding: 8px 17px; /* Apply 10px padding to top and bottom, 17 to left and right */
}
.learnbutton:hover {
    border: 2px solid var(--color-learn-button-hover); /* Change the border color on mouse hover */
}
.contactbutton {
    background: var(--color-contact-button-bg);
    border: 2px solid var(--color-contact-button-bg); /* Uses border the same color as background, the keep sizing in line with learn button */
    color: var(--color-contact-button-font);
    cursor: pointer; /* The button will appear clickable */
    font-family: Inter-Medium;
    font-size: 18px;
    margin-left: 10px;
    padding: 8px 17px; /* Apply 10px padding to top and bottom, 17 to left and right */
}
.contactbutton:hover {
    background: var(--color-contact-button-bg-hover); /* Change background and border color on hover */
    border: 2px solid var(--color-contact-button-bg-hover);
}

/* MEDIA QUERIES - RESPONSIVE DESIGN */
/* Apply padding and margin at various screen sizes */

@media screen and (max-width: 1200px) {
    .maininner {width: 100%;}
    /* Apply 10px spacing between mainmiddle and edge of screen */
    .mainmiddle {
        margin-left: 10px; 
        margin-right: 10px;
    }
}
@media screen and (max-width: 600px) {
    .mainmiddle {
        margin-top: 20px;
        width: calc(100% - 20px); /* mainmiddle will fill width of screen on mobile devices */
    }
}